@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*::before, *::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

button {
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  background-color: hsl(202, 32%, 15%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.is-hidden {
  display: none !important;
}

.btn {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: hsl(202, 32%, 15%);
  cursor: pointer;
  transition: transform 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 600px) {
  .btn {
    font-size: 2rem;
    letter-spacing: 0.125rem;
  }
}

.btn-xs {
  padding: 0.5rem;
  height: 52px;
  max-width: 52px;
}
.btn-xs img {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
  font-weight: 100;
}

.btn-sm {
  padding: 1rem;
  max-width: 22.6rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-lg {
  max-width: 32.7rem;
  padding: 1.1rem 2rem;
}
@media screen and (min-width: 600px) {
  .btn-lg {
    padding: 1.4rem 2rem;
    max-width: 46rem;
  }
}

.btn-gold {
  box-shadow: 0 6px 0 hsl(39, 88%, 49.3%);
  background-color: hsl(39, 88%, 58%);
}
.btn-gold.btn-lg {
  box-shadow: 0 8px 0 hsl(39, 88%, 49.3%);
}
.btn-gold:hover {
  background-color: hsl(39, 100%, 69%);
}
.btn-gold:active {
  transform: translateY(2px);
}

.btn-blue {
  box-shadow: 0 6px 0 hsl(178, 60%, 40.8%);
  background-color: hsl(178, 60%, 48%);
}
.btn-blue.btn-lg {
  box-shadow: 0 8px 0 hsl(178, 60%, 40.8%);
}
.btn-blue:hover {
  background-color: hsl(178, 75%, 65%);
}
.btn-blue:active {
  transform: translateY(2px);
}

.btn-grey {
  box-shadow: 0 6px 0 hsl(198, 23%, 61.2%);
  background-color: hsl(198, 23%, 72%);
}
.btn-grey.btn-lg {
  box-shadow: 0 8px 0 hsl(198, 23%, 61.2%);
}
.btn-grey:hover {
  background-color: hsl(197, 33%, 89%);
}
.btn-grey:active {
  transform: translateY(2px);
}

:root {
  --active-img: "active",
  --inactive-img: "unchecked" ;
}

.switch {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 72px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: hsl(202, 32%, 15%);
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .switch {
    width: 412px;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.9rem;
  display: flex;
}
.slider .btn-active {
  position: absolute;
  border-radius: 10px;
  height: 54px;
  width: 132px;
  left: 0;
  bottom: 0;
  background-color: hsl(197, 33%, 89%);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 600px) {
  .slider .btn-active {
    width: 200px;
  }
}
.slider .btn-inactive {
  position: absolute;
  display: block;
  border-radius: 10px;
  height: 54px;
  width: 122px;
  left: 5px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 600px) {
  .slider .btn-inactive {
    width: 190px;
  }
}
.slider:has(img:hover) .btn-inactive,
.slider .btn-inactive:hover {
  background-color: rgb(35.329787234, 50.3776595745, 56.920212766);
}
.slider #sliderNortImg, .slider #sliderCrossImg {
  position: absolute;
  filter: brightness(0) saturate(100%) invert(94%) sepia(88%) saturate(1280%) hue-rotate(177deg) brightness(112%) contrast(85%);
  z-index: 1;
  width: 32px;
  top: 10px;
}
.slider #sliderNortImg.menu-img-active, .slider #sliderCrossImg.menu-img-active {
  filter: brightness(0) saturate(100%) invert(12%) sepia(6%) saturate(3379%) hue-rotate(157deg) brightness(95%) contrast(91%);
}
.slider #sliderCrossImg {
  left: 20%;
}
.slider #sliderNortImg {
  left: 70%;
}

input:focus-visible + .slider {
  outline: 2px solid hsl(202, 32%, 15%);
  outline-offset: 2px;
}

input:checked + .slider .btn-active {
  transform: translateX(130px);
}
@media screen and (min-width: 600px) {
  input:checked + .slider .btn-active {
    transform: translateX(195px);
  }
}

input:checked + .slider .btn-inactive {
  transform: translateX(0);
}

input:not(:checked) + .slider .btn-active {
  transform: translateX(0);
}

input:not(:checked) + .slider .btn-inactive {
  transform: translateX(130px);
}
@media screen and (min-width: 600px) {
  input:not(:checked) + .slider .btn-inactive {
    transform: translateX(195px);
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main-menu .logo {
  margin-bottom: 4rem;
}
.main-menu .mark-selection {
  background-color: hsl(199, 35%, 19%);
  box-shadow: 0 8px 0 hsl(202, 32%, 11.25%);
  border-radius: 15px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
.main-menu .mark-selection .selection {
  color: hsl(198, 23%, 72%);
  text-transform: uppercase;
  font-size: 1.6rem;
}
.main-menu .mark-selection .menu-note {
  color: hsl(198, 23%, 72%);
  text-transform: uppercase;
  font-weight: 500;
}
.main-menu .menu-btn {
  margin-bottom: 3rem;
}

:root {
  --tile-width: 9.6rem;
}

@media screen and (min-width: 600px) {
  :root {
    --tile-width: 14rem;
  }
}
.game-container {
  width: 100%;
  max-width: 328px;
}
@media screen and (min-width: 600px) {
  .game-container {
    max-width: 460px;
  }
}

.game-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.game-header .btn {
  justify-self: flex-end;
}
.game-header .game-logo {
  width: 71px;
  height: 32px;
}
.game-header .current-turn {
  background-color: hsl(199, 35%, 19%);
  padding: 1.2rem 1rem;
  margin-left: 0.6rem;
  max-width: var(--tile-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 4px 0 hsl(202, 32%, 11.25%);
}
.game-header .current-turn .current-turn-text {
  color: hsl(198, 23%, 72%);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.game-header .current-turn img {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(71%) sepia(66%) saturate(77%) hue-rotate(155deg) brightness(91%) contrast(95%);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.game-board .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  padding: 2rem;
  width: var(--tile-width);
  height: var(--tile-width);
  background-color: hsl(199, 35%, 19%);
  box-shadow: 0 7px 0 hsl(202, 32%, 11.25%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.game-board .o-win > img, .game-board .x-win > img {
  filter: brightness(0) saturate(100%) invert(12%) sepia(6%) saturate(3379%) hue-rotate(157deg) brightness(95%) contrast(91%);
}
.game-board .x-win {
  background-color: hsl(178, 60%, 48%);
  box-shadow: 0 7px 0 hsl(178, 60%, 40.8%);
}
.game-board .o-win {
  background-color: hsl(39, 88%, 58%);
  box-shadow: 0 7px 0 hsl(39, 88%, 49.3%);
}

.game-scores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.game-scores .score-tile {
  width: var(--tile-width);
  height: 7.2rem;
  border-radius: 15px;
  gap: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.game-scores .score-tile p {
  text-transform: uppercase;
}
.game-scores .score-tile .score-number {
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  line-height: 1;
}
.game-scores .p1-score {
  background-color: hsl(178, 60%, 48%);
}
.game-scores .tie-score {
  background-color: hsl(198, 23%, 72%);
}
.game-scores .p2-score {
  background-color: hsl(39, 88%, 58%);
}/*# sourceMappingURL=styles.css.map */