@use '../utils/utils' as *;

.btn {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: getFont(weight, "bold");
    font-size: getFont(size, 'heading-xs');
    letter-spacing: getFont(letter-spacing, 'heading-xs');
    color: getColor('primary');
    cursor: pointer;
    transition: transform 0.1s ease;
    user-select: none;
    @include centerContent;
    @include screen("tablet") {
        font-size: getFont(size, "heading-sm");
        letter-spacing: getFont(letter-spacing, "heading-sm");
    }
}

.btn-xs {
    padding: 0.5rem;
    height: 52px;
    max-width: 52px;
    img {
        width: 100%;
        max-width: 20px;
        max-height: 20px;
        font-weight: 100;
    }
}
.btn-sm {
    padding: 1rem;
    max-width: 22.6rem;
    font-size: getFont(size, "heading-xs");
    letter-spacing: getFont(letter-spacing, "heading-xs");
}

.btn-lg {
    max-width: 32.7rem;
    padding: 1.1rem 2rem;
    @include screen("tablet") {
        padding: 1.4rem 2rem;
        max-width: 46rem;
    }
}

.btn-gold {
    @include buttonColor('action-primary');
}

.btn-blue {
    @include buttonColor('action-secondary');
}


.btn-grey {
    @include buttonColor('accent');
}